---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';


const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

// const niches = [...new Set(projects.map(project => project.data.niche))];
console.log("niches");
---

<BaseLayout
	title="Work Blog"
	description="Read more in the blog posts below"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="Click below to read project blogs"
				align="start"
			/>
			<div class="content-layout">
				<Grid variant="offset">
					{
						projects.map((project) => (
							<li>
								<PortfolioPreview project={project} />
							</li>
						))
					}
				</Grid>

				<!-- <NicheSelector niches={niches} /> -->
			</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.content-layout {
		display: flex;
		gap: 2rem;
	}

	Grid {
		flex: 1;
	}

	@media (max-width: 50em) {
		.content-layout {
			flex-direction: column;
		}
	}
</style>