---
interface Props {
	niches: string[];
}

const { niches } = Astro.props;
---

<aside class="niche-selector">
	<h2>Niches</h2>
	<ul>
		{niches.map((niche) => (
			<li>
				<a href={`#${niche.toLowerCase()}`}>{niche}</a>
			</li>
		))}
	</ul>
</aside>

<style>
	.niche-selector {
		position: sticky;
		top: 2rem;
		padding: 1rem;
		background-color: var(--gray-999);
		border-radius: 0.75rem;
		box-shadow: var(--shadow-sm);
	}

	h2 {
		font-size: var(--text-lg);
		margin-bottom: 0.5rem;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		margin-bottom: 0.5rem;
	}

	a {
		color: var(--gray-300);
		text-decoration: none;
		transition: color 0.2s ease;
	}

	a:hover, a:focus {
		color: var(--gray-0);
	}

	@media (max-width: 50em) {
		.niche-selector {
			position: static;
			margin-bottom: 2rem;
		}
	}
</style>